html {
    background-color: #0a0a0a;
    color: #f0f0f0;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #f0f0f0;
}

footer {
    margin: auto 3vw 25px 3vw;;
    display: flex;
    justify-content: space-between;
}

main {
    margin-bottom: 250px;
}

.first-page {
    margin: 0 3vw;
}

.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 2%;
}

.left-menu {
    display: flex;
    align-items: center;
}

.big-star {
    position: absolute;
    color: #de103a;
}

.small-star {
    position: relative;
    left: 25px;
    bottom: 20px;
    color: #f0f0f0;
}

.center-menu {
    display: none;
}

.center-menu ul {
    list-style-type: none;
    margin: 0 0 0 25px;
    padding: 0;
    position: absolute;
    left: 12%;
}

.center-menu li {
    display: inline-block;
    margin: 0 15px;
}

.center-menu .home {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -10px;
    margin-left: -10px;
}

.right-menu-item {
    justify-content: flex-end;
    text-decoration: none;
    color: #f0f0f0;
    border: 1px solid #f0f0f0;
    padding: 15px 25px 15px 25px;
}

.extended-menu-button {
    color:  #f0f0f0;
    visibility: visible;
    margin: 3.4% 0 auto 78px;
    position: absolute;
}

@media only screen and (min-width: 580px) {
    .center-menu {
        display: flex;
        align-items: center;
    }
    .extended-menu-button {
        visibility: hidden;
    }
}

.author-main-picture {
    width: auto;
    height: 97vh;
    float: right;
    margin: -55px 0 0 0;
    padding: 0;
}

.author-text {
    position: absolute;
    top: 25%;
}

.author-name {
    font-size: clamp(2rem, 10vw, 25rem);
    overflow: hidden;
    word-break: break-word;
    max-width: 60%;
    margin: 0;
}

.author-description {
    font-size: clamp(0.5rem, 1.2rem, 2rem);
    max-width: 30vw;
    color: #aaaaaa;
}

@media only screen and (max-width: 700px) {
    .author-text {
        position: relative;
        text-align: center;
        width: 100%;
    }

    .author-name {
        max-width: 100%;
        margin: 15px 0;
    }

    .author-description {
        max-width: 100%;
        margin: 0 25px;
    }

    .author-main-picture {
        float: none;
        display: block;
        object-fit: contain;
        margin: -50px auto 0 auto;
        max-width: 100%;
    }
}

.round-rectangle {
    position: absolute;
    left: 50%;
    bottom: 3%;
    border: 1px solid #f0f0f0;
    border-radius: 50px;
    width: auto;
    height: 11%;
}

.dots {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-items: center;
}

.dot {
    width: 6px;
    height: 6px;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    margin: 5px 0 5px -39px;
    padding: 0;
}

.current {
    outline: 1px solid #f0f0f0;
    outline-offset: 5px;
    background-color: #f0f0f0;
}

.projects {
    text-align: center;
    margin: 15vh 3vw 15vh 3vw;
    font-size: clamp(1rem, 1vw, 2rem);
}

.projects ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid #aaaaaa;
    border-left: 1px solid  #aaaaaa;
}

.projects p {
    color: #aaaaaa;
}

.project-element {
    flex-grow: 1;
    border-top: 1px solid  #aaaaaa;
    border-right: 1px solid  #aaaaaa;
    padding: 3vh 5vw;
    white-space: nowrap;
    font-size: clamp(1rem, 2vw, 2rem);
}

.project-logo {
    font-size: clamp(0.9rem, 1.3vw, 2rem)!important;
}

.cube-right {
    justify-self: end;
    width: 25%;
    margin-bottom: 10%;
}

.cube-left {
    margin-left: -12%;
    width: 15%;
}

.red-text {
    color: #de103a;
}

.numbers-plus-wrapper {
    display: flex;
    flex-direction: row;
}

.number-plus-element {
    margin-right: 1.5vw;
}

.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 3vw 10vh 3vw;
}

.about-me-title {
    font-size: clamp(1rem, 1.5vw, 2rem);
    margin: 0;
}

.about-me-subtitle {
    font-size: clamp(1rem, 2.5vw, 5rem);
    margin-top: 5px;
    margin-bottom: 5%;
}

.about-me-set-meeting {
    border: 1px solid #aaaaaa;
    font-weight: bolder;
    padding: 3% 2% 3% 2%;
    text-align: center;
    width: 20%;
    min-width: 130px;
    white-space: nowrap;
}

.about-me-description {
    font-size: clamp(0.9rem, 1.3vw, 2rem);
    margin-right: 1%;
    margin-bottom: 0;
}

.about-me-number {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    font-size: clamp(1rem, 3vw, 5rem);
    font-family: "monospace", sans-serif;
}

.about-me-number-description {
    color: #aaaaaa;
    margin-top: 5px;
}

.phrase-dot {
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    padding: 5px;
    margin: -5px 5px 0 5px;
    vertical-align: middle;
}

.ribbon {
    position: absolute;
    padding: 20px 40px;
    font-size: 64px;
    white-space: nowrap;
}

.lower-ribbon {
    background-color: #ff0000;
    transform: translate(-17%) rotate(5deg);
    z-index: 2;
}

.lower-ribbon .phrase-dot {
    color: #aaaaaa;
}

.higher-ribbon {
    background-color: rgba(255, 0, 0, 0.44);
    color: #aaaaaa;
    transform: translate(-2%) rotate(-5deg);
    z-index: 1;
}

.right-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 25%;
}

.socials {
    list-style-type: none;
}

.socials li {
    margin: 15px 0;
}